@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: white;
  box-sizing: border-box;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

